@import "../../variables.scss";

.body {
  &--catalog-blur {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 250px;
      left: 0;
      width: 504px;
      height: 560px;
      background: #7d2253;
      filter: blur(125px);
      transform: rotate(32.83deg);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 392px;
      height: 280px;
      background: $btn-hover-color;
      filter: blur(125px);
      transform: rotate(32.83deg);
      z-index: -1;
    }
  }
}

.breadcrumbs-list {
  &__item {
    display: inline;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    &::after {
      position: absolute;
      content: "/";
      top: 0;
      right: 5px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: $white-color;
    &:hover {
      transition: $transition;
      color: $btn-hover-color;
    }
  }
}
.breadcrumb-active {
  color: gray;
}

.header {
  &--catalogBgImages {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 1073px;
      height: 717px;
      background-image: url("../../../images/CatalogPage/catalog-header/catalog-header-left-bg.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      top: 50px;
      right: -520px;
      width: 1073px;
      height: 842px;
      background-image: url("../../../images/CatalogPage/catalog-header/catalog-header-right-bg.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.catalog-banner {
  max-width: 900px;
  min-height: 530px;
  padding: 10px 20px 20px 20px;
  border-radius: $border-radius-blocks;
  background-color: $BlurBackground-color;
  backdrop-filter: $BlurBackdrop-filter;
  &__title {
    font-size: 100px;
    text-align: start;
    line-height: 120px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
  &__title-span {
    padding-left: 300px;
  }
  &__text {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list-btn {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }

  &__btn {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $pink-color;
    &:hover {
      cursor: pointer;
      transition: $transition;
      text-decoration: underline;
    }
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 30%;
      right: 5px;
      border: 6px solid transparent;
      border-top: 8px solid $pink-color;
      width: 12px;
      height: 12px;
    }
  }
}

.catalog-tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__list-item {
    padding: 11px 16px;
    color: $white-color;
    text-transform: uppercase;
    border: 0.5px solid $white-color;
    border-radius: $border-radius-blocks;
    font-size: 12px;
    &:hover {
      transition: $transition;
      color: black;
      background-color: $btn-normal-color;
      cursor: pointer;
    }
  }
}

.social-links {
  &--catalog {
    position: absolute;
    top: 150px;
    right: 0;
  }
}

.panel {
  &--catalog {
    position: absolute;
    top: 600px;
    right: 0;
  }
}

.filter-block {
  background: $BlurBackground-color;
  border-radius: $border-radius-blocks;
  backdrop-filter: $BlurBackdrop-filter;
  min-height: 400px;
  max-height: 818px;
}

@media screen and (max-width: 1125px) {
  .panel {
    display: none;
  }
  .header-banner {
    &__cart-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 1075px) {
  .header-banner {
    margin-top: 50px;
  }

  .catalog-banner {
    margin: 0 auto;
  }
}

@media screen and (max-width: 845px) {
  .catalog-banner {
    &__title {
      @include adaptive-font(100, 40);
    }
    &__title-span {
      padding-left: 150px;
    }
  }
}

@media screen and (max-width: 810px) {
  .catalog-banner {
    background-color: transparent;
    backdrop-filter: none;
  }
}

@media screen and (max-width: 625px) {
  .catalog-banner {
    &__title {
      line-height: 80px;
    }
    &__title-span {
      padding-left: 80px;
    }
  }
}

@media screen and (max-width: 580px) {
  .body {
    &--catalog-blur {
      &::after {
        display: none;
      }
    }
  }
  .catalog-products {
    &::before {
      display: none;
    }
  }
  .catalog-tags {
    display: none;
  }
  .catalog-banner {
    min-height: 0;
    &__list-btn {
      display: block;
    }
  }
  .filter-block {
    display: none;
  }
  .block-tags {
    &__list,
    &__select {
      display: none;
    }
  }
  .products-block {
    &__cards {
      justify-content: center;
    }
  }
}
