@import "../../variables.scss";

.header {
  &--home {
    position: relative;
    min-height: 100vh;
    background-image: url("../../../images/HomePage/header-top/preview-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../../images/HomePage/header-top/preview-left-light.png");
      background-repeat: no-repeat;
      background-position: center left;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url("../../../images/HomePage/header-top/preview-right-light.png");
      background-repeat: no-repeat;
      background-position: center right;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}

.header-top {
  position: relative;
  display: flex;
  min-height: 80px;
  padding: 5px 0;
  margin-bottom: 90px;
  &__logo {
    margin-right: 70px;
    &-img {
      width: 34px;
      height: 75px;
    }
  }
}

.header-menu {
  display: flex;
  gap: 50px;
  &__item {
    &-link {
      color: $white-color;
      font-size: 14px;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
        transition: $transition;
        color: $btn-normal-color;
      }
      &--search {
        background-image: url("../../../images/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 0 2px;
        padding-left: 27px;
      }
    }
  }
}
.info-block {
  position: absolute;
  top: 12px;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  &__item {
    padding-bottom: 26px;
    &:last-child {
      padding-bottom: 0;
    }
    &-email {
      &:hover {
        transition: $transition;
        color: $btn-hover-color;
      }
      &--decor {
        color: $btn-normal-color;
      }
    }
    &-address {
      &--decor {
        color: $btn-normal-color;
      }
    }
    &-text {
      margin-top: 5px;
    }
  }
}

.header-banner {
  position: relative;
  &__title {
    margin-bottom: 56px;
  }
  &__text {
    text-align: center;
    margin-bottom: 47px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  &__btn-link {
    display: block;
    margin: 0 auto;
  }
}

.btn {
  width: 220px;
  height: 50px;
  background-color: $btn-normal-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 16px 50px;
  color: #000000;
  &:hover {
    transition: $transition;
    background-color: $btn-hover-color;
    color: $white-color;
  }
}

.social-links {
  &__list {
    position: absolute;
    top: 40px;
    right: 0;
    max-width: 60px;
    background: $BlurBackground-color;
    backdrop-filter: $BlurBackdrop-filter;
    border-radius: $radius;
    padding: 20px 18px;
  }
  &__item {
    &-icon {
      fill: $btn-normal-color;
      &:hover {
        transition: $transition;
        fill: $btn-hover-color;
      }
    }
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.tel {
  color: $btn-normal-color;
  line-height: 24px;
  letter-spacing: 0.1em;
  &:hover {
    transition: $transition;
    color: $btn-hover-color;
  }
}

.popup-btn {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 21px;
  font-size: 16px;
  padding-left: 25px;
  letter-spacing: 0.1em;
  color: $btn-normal-color;
  text-transform: uppercase;
  background-color: $BlurBackground-color;
  backdrop-filter: $BlurBackdrop-filter;
  border-radius: $radius;
  &:hover {
    transition: $transition;
    background-color: $btn-hover-color;
  }
  &--phone {
    background-image: url("../../../images/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}

.cart-btn {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-image: url("../../../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    transition: $transition;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &__count {
    position: absolute;
    background-color: $btn-normal-color;
    padding: 2px 3px;
    color: #000000;
    width: 26px;
    height: 26px;
    font-size: 15px;
    border-radius: $radius;
    top: 5px;
    right: 0;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  top: 400px;
  right: 0;

  &__cart {
    backdrop-filter: $BlurBackdrop-filter;
    border-radius: $radius;
  }
  &__sign {
    position: absolute;
    top: 90px;
    right: 300px;
    z-index: 0;
  }
}

.sign {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-image: url("../../../images/HomePage/sign.svg");
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 254px;
    height: 189px;
    z-index: -1;
  }
}
