@import "../home-page/header/header.scss";
@import "../home-page/catalog/catalog.scss";
@import "../home-page/popular/popular.scss";
@import "../home-page/order/order.scss";
@import "../home-page/reason/reason.scss";
@import "../home-page/questions/questions.scss";
@import "../home-page/instagram/instagram.scss";
@import "../home-page/footer/footer.scss";
