@import "../../variables.scss";

.reason {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background-color: #7d2253;
    filter: blur(125px);
    transform: rotate(32.83deg);
    top: 100px;
    right: 200px;
    width: 355px;
    height: 365px;
    z-index: -1;
    opacity: 0.7;
  }
  &__content {
    display: grid;
    justify-content: right;
    grid-gap: 30px;
    grid-template-columns: 350px 255px 160px 255px;
    text-transform: uppercase;
    font-size: 14px;
    &-item {
      &:nth-child(1) {
        grid-column: 1 / 4;
      }
    }
  }
  &__item-wrapper {
    position: relative;
    margin-left: 95px;
    &:before {
      position: absolute;
      content: "";
      top: -90px;
      border: 1px solid #d978ac;
      width: 255px;
      height: 1px;
      background-color: $pink-color;
    }
  }
  &__item-span {
    margin-left: 380px;
  }
  &__item-title {
  }
  &__item-img {
    border-radius: $border-radius-blocks;
  }
  &__item-text {
    margin-bottom: 35px;
  }
  &__item-list {
    position: relative;
    margin-bottom: 40px;
    &:before {
      position: absolute;
      content: "";
      top: 185px;
      left: -40px;
      background-image: url("/src/images/HomePage/reason/reason-arrow.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  &__list-item {
    list-style-type: circle;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-link {
    padding: 16px 15px;
    display: block;
    width: 100%;
  }
}
