@import "scss/null.scss";
@import "scss/variables.scss";
@import "scss/common.scss";
@import "scss/fonts.scss";
@import "scss/home-page/home-page.scss";
@import "scss/catalog-page/catalog-header/catalog-header.scss";

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: $main-font-size;
  background-color: $main-bg-color;
  color: $main-text-color;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  min-height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 0 1 auto;
}

footer {
  flex: 0 0 auto;
}

h1 {
  font-family: "Cormorant", serif;
  font-weight: 300;
  font-size: 200px;
  line-height: 150px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
