//colors
$main-bg-color: #040a0a;
$main-text-color: #ffffff;
$btn-normal-color: #43ffd2;
$btn-hover-color: #7d2253;
$pink-color: #d978ac;
$delivery-blur-color: #6b535f;
$white-color: #ffffff;
$golden-color: #c8a156;
$border-radius-blocks: 20px;
$border-radius-tags: 40px;
//fonts
$main-font-size: 20px;
$desktop-h1-font-size: 200px;
$desktop-h2-font-size: 100px;
// transition
$transition: all 0.7s ease;
// blur background
$BlurBackground-color: rgba(0, 0, 0, 0.2);
$BlurBackdrop-filter: blur(10px);
$radius: 10px;
